main {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    font-family: sans-serif
}

.album {
    display: flex;
    padding: 10px;
}

.cover {
    width: 120px;
    height: 120px;
    border: 1px solid #999;
    margin-right: 10px;
}

.albumdata {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
}

.year {
    font-size: 1.2em;
    color: #777;
    margin-left: 4px;
}

.description {
    color: #777;
    font-size: 0.9em;
    margin-top: 4px;
}

.percent {
    font-size: 1.5em;
    margin-top: 4px;
}

.number {
    font-size: 0.7em;
    color: #777;
}
