main {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}

.album {
    display: flex;
    padding: 10px;
}

.albumdata {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cover {
    width: 120px;
    height: 120px;
    border: 1px solid #999;
    margin-right: 5px;
}
