@font-face {
    font-family: 'Fluxisch';
    src: url('fonts/FluxischElse-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Fluxisch';
    src: url('fonts/FluxischElse-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
}

main {
    font-family: 'Fluxisch', sans-serif;
    font-weight: normal;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

.hidden {
    display: none;
}

#source-links a {
    margin-right: 8px;
}

.source {
    margin-top: 30px;
}

.description {
    color: #777;
    font-size: 0.9em;
}

.album {
    display: flex;
    padding: 10px 10px 10px 0;
}

.cover {
    width: 120px;
    height: 120px;
    border: 1px solid #999;
    margin-right: 10px;
}

.albumdata {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
}

.year {
    font-size: 1.2em;
    color: #777;
    margin-left: 4px;
}

.description {
    color: #777;
    font-size: 0.9em;
    margin-top: 4px;
}

.percent {
    font-size: 1.5em;
    margin-top: 4px;
}

.number {
    font-size: 0.7em;
    color: #777;
}
